<!DOCTYPE html>
<html lang="en">
    {% include 'header.twig' %}
<script>
    function clearSearchAndGoBack() {
        window.location.href = 'admin_dashboard.php?clear_search_cookie=true';
        }

    function searchSuppliers() {
        var search = document.getElementById('search').value;
        var xhr = new XMLHttpRequest();
        xhr.open('GET', 'view_suppliers.php?search=' + encodeURIComponent(search), true);
        xhr.onreadystatechange = function() {
            if (xhr.readyState == 4 && xhr.status == 200) {
                var parser = new DOMParser();
                var doc = parser.parseFromString(xhr.responseText, 'text/html');
                var newTableBody = doc.querySelector('#suppliersTable tbody').innerHTML;
                document.querySelector('#suppliersTable tbody').innerHTML = newTableBody;
            }
        };
        xhr.send();
    }
</script>
<body>

    <div class="well bs-component">
        <form method="GET" action="view_suppliers.php">
            <input type="text" id="search" name="search" placeholder="Search suppliers..." value="{{ search }}" onkeyup="searchSuppliers()">
            <button type="submit">Search</button>
        </form>
        <table id="suppliersTable" class="table table-hover" style="margin-top: 1px">
            <thead>
                <tr>
                    <th>Supplier Name</th>
                    <th>Phone Number</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for supplier in suppliers %}
                    <tr>
                        <td>{{ supplier.supp_name }}</td>
                        <td>{{ supplier.phone_number }}</td>
                        <td>
                            <a href="edit_supplier.php?id={{ supplier.supp_id }}" class="btn btn-primary">Edit</a>
                            <a href="delete_supplier.php?id={{ supplier.supp_id }}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this supplier?');">Delete</a>
                        </td>
                    </tr>
                {% else %}
                    <tr><td colspan="3">No data found</td></tr>
                {% endfor %}
            </tbody>
        </table>
        <center>
            <div class="body">
                {% if page >= 2 %}
                    <a class="active" href="view_suppliers.php?page={{ page - 1 }}&search={{ search }}">Prev</a>
                {% endif %}
                {% for i in 1..total_pages %}
                    {% if i == page %}
                        <a class="active" href="view_suppliers.php?page={{ i }}&search={{ search }}">{{ i }}</a>
                    {% else %}
                        <a class="active" href="view_suppliers.php?page={{ i }}&search={{ search }}">{{ i }}</a>
                    {% endif %}
                {% endfor %}
                {% if page < total_pages %}
                    <a class="active" href="view_suppliers.php?page={{ page + 1 }}&search={{ search }}">Next</a>
                {% endif %}
            </div>
            <br><br>
            <button type="button" class="btn btn-primary" onclick="clearSearchAndGoBack()">Go Back</button>
        </center>
    </div>
</body>
</html>
