<!DOCTYPE html>
<html lang="en">
    {% include 'header.twig' %}
<script>
    function clearSearchAndGoBack() {
        window.location.href = 'admin_dashboard.php?clear_search_cookie=true';
        }


    function searchSites() {
        var search = document.getElementById('search').value;
        var xhr = new XMLHttpRequest();
        xhr.open('GET', 'view_sites.php?search=' + encodeURIComponent(search), true);
        xhr.onreadystatechange = function() {
            if (xhr.readyState == 4 && xhr.status == 200) {
                var parser = new DOMParser();
                var doc = parser.parseFromString(xhr.responseText, 'text/html');
                var newTableBody = doc.querySelector('#sitesTable tbody').innerHTML;
                document.querySelector('#sitesTable tbody').innerHTML = newTableBody;
            }
        };
        xhr.send();
    }

    function fetchSuggestions() {
        var search = document.getElementById('search').value;
        var xhr = new XMLHttpRequest();
        xhr.open('GET', 'fetch_suggestions.php?search=' + encodeURIComponent(search), true);
        xhr.onreadystatechange = function() {
            if (xhr.readyState == 4 && xhr.status == 200) {
                var suggestions = JSON.parse(xhr.responseText);
                var datalist = document.getElementById('suggestions');
                datalist.innerHTML = '';
                suggestions.forEach(function(suggestion) {
                    var option = document.createElement('option');
                    option.value = suggestion;
                    datalist.appendChild(option);
                });
            }
        };
        xhr.send();
    }
</script>
<body>
    <div class="well bs-component">
        <form method="GET" action="view_sites.php">
            <input type="text" id="search" name="search" placeholder="Search sites..." value="{{ search }}" onkeyup="searchSites(); fetchSuggestions();" list="suggestions">
            <datalist id="suggestions"></datalist>
            <button type="submit">Search</button>
        </form>
        <table id="sitesTable" class="table table-hover" style="margin-top: 1px">
            <thead>
                <tr>
                    <th>Site Name</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for site in sites %}
                    <tr>
                        <td>{{ site.site_name }}</td>
                        <td>{{ site.active ? 'Active' : 'Inactive' }}</td>
                        <td>
                            <form action="edit_sites.php" method="get" style="display:inline;">
                                <input type="hidden" name="id" value="{{ site.site_id }}">
                                <button type="submit" class="btn btn-primary">Edit</button>
                            </form>
                        </td>
                    </tr>
                {% else %}
                    <tr><td colspan="2">No data found</td></tr>
                {% endfor %}
            </tbody>
        </table>
        <center>
            <div class="body">
                {% if page >= 2 %}
                    <a class="active" href="view_sites.php?page={{ page - 1 }}&search={{ search }}">Prev</a>
                {% endif %}
                {% for i in 1..total_pages %}
                    {% if i == page %}
                        <a class="active" href="view_sites.php?page={{ i }}&search={{ search }}">{{ i }}</a>
                    {% else %}
                        <a class="active" href="view_sites.php?page={{ i }}&search={{ search }}">{{ i }}</a>
                    {% endif %}
                {% endfor %}
                {% if page < total_pages %}
                    <a class="active" href="view_sites.php?page={{ page + 1 }}&search={{ search }}">Next</a>
                {% endif %}
            </div>
            <br><br>
            <button type="button" class="btn btn-primary" onclick="clearSearchAndGoBack()">Go Back</button>
        </center>
    </div>
</body>
</html>
